:root {
    --verde: #4cd62b;
    --cinza: #444;
    --fundo: #fafafa;
    --branco: #fff;
}

body {
    font-family: Arial, sans-serif;
    background: var(--fundo);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 600px;
    text-align: center;
    padding: 20px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.botao {
    width: 100%;
    margin: 4px;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background: var(--cinza);
    color: var(--branco);
    font-weight: bold;
}

.botao.ativo {
    background: var(--verde);
}

.aba-conteudo {
    display: none;
}

.aba-conteudo.ativo {
    display: block;
}

.contador {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contador-digito {
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}

.contador-digito-numero {
    font-size: 60px;
    margin: 0;
}

.contador-digito-texto {
    color: var(--verde);
    font-size: 18px;
    margin: 0;
}
